/* Header */
@font-face {
  font-family: ProximaNova;
  src: url(../assets/fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf); }

* {
  margin: 0;
  padding: 0;
  font-family: ProximaNova;
  box-sizing: border-box; }

header {
  display: flex;
  align-items: center;
  height: 90px;
  background: rgba(255, 255, 255, 0.9);
  font-family: ProximaNova; }
  header > div:nth-child(1) {
    padding: 0 1rem 0; }
  header > div:nth-child(2) {
    display: flex;
    font-weight: 400;
    padding: 0 2rem 0 2rem; }
  header .searchBarCont {
    position: relative; }
  header .searchBarCont input {
    background: #f1f1f5;
    border-radius: 30px;
    color: #616173;
    padding: 0.5rem 1rem 0.5rem 1.75rem;
    border: none;
    outline: none;
    width: 355px;
    min-width: 100px; }
  header .searchBarCont::before {
    content: url("../assets/images/search.svg");
    position: absolute;
    top: 5px;
    left: 5px; }
  header .header_Nav_Item {
    display: flex;
    justify-content: center;
    align-items: center; }
    header .header_Nav_Item img {
      padding-right: 3rem; }
    header .header_Nav_Item .badge {
      position: relative; }
    header .header_Nav_Item .badge::after {
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 27px;
      background: #f9c20a; }
    header .header_Nav_Item > div:nth-of-type(1) {
      width: 50px;
      height: 0px;
      border: 1px solid #e6e6e6;
      transform: rotate(90deg); }
    header .header_Nav_Item > div:nth-of-type(3) {
      padding-right: 3rem; }

.border {
  border: 1px solid #000000;
  opacity: 0.1; }
